body{
    background-color:rgb(224, 224, 224);
}
hr{
    border-style: dotted none none;
    border-color: rgb(170, 255, 191);
    border-width: 5px;
    height: 1px;
    width: 10%;

}

img.teelogo{
    height: 50%;
    width: 50%;

}
img.enelxlogo{
    height: 50%;
    width: 50%;

}
img.cdglogo{
    height: 50%;
    width: 50%;

}
img.xeliologo{
    height: 50%;
    width: 50%;

}
h1, h3{

    color: #66bfbf;
}