html, body{
    height: 25%;
}

html{
    display: table;
    margin: auto;
}
body{
    background-color:rgb(243, 243, 243);
    font-family: 'Roboto Slab', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;

}
.bodycontainer{
    display: flex;
}
p{
    padding: 0 10px;
    line-height: 1.8;
}
p.navigationtitle{
    font-weight: bold;
}

ul li{
    padding-right: 10px;
    line-height: 1.6;
}

hr{
    border-style: dotted none none;
    border-color: rgb(170, 255, 191);
    border-width: 5px;
    height: 1px;
    width: 10%;

}
/* Div Formatting */
div#header {
    display: flex;
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}

div#header h1 {
    line-height: 50px;
    margin: 0;
    padding-left: 10px;
    margin-top: 20px;
    display: inline-flex;
    font-family: 'Roboto Slab', serif;
    text-align: center;
}

div#navigation {
    width: 33%;
    background-color: blue;
}

div#navigation li {
    list-style: none;
    background-color: crimson;
}

div#extra {
    float: left;
    clear: left;
    width: 200px;
}

div#footer{
    clear: both;
    width: 100%;
    vertical-align: middle;
    background-color: darkgreen;
    text-align: center;
    font-style: italic;
}

div#wrapper{
    width: 66%;
    margin-left: -200px;
    background-color: aquamarine;
}

div#content{
    background-color: forestgreen;
}

/* Image Formatting */
img#headshot{
    height: 150px;
    width: 150px;
    float: left;
    padding-right: 10px;
    display: flex;
    background-color: chocolate;
}

img.teelogo{
    height: 50%;
    width: 50%;

}
img.enelxlogo{
    height: 50%;
    width: 50%;

}
img.cdglogo{
    height: 50%;
    width: 50%;

}
img.xeliologo{
    height: 50%;
    width: 50%;

}
h1, h3{

    color: #3e7397;
}